@model TemperatureGraphViewModel

<div id="temperature-graph">
	<script>
		// Variáveis para armazenar dados acumulados globalmente
		var temperaturaAcumulada = [];
		var timestampsAcumuladas = [];
		var temperaturaRecente; 

		var setPoint = @Model.SetPoint;

		var temperaturasTeste = [];

		var maiorTemperatura; 
		var menorTemperatura;

		// Função para calcular a média das temperaturas
		function calcularMedia(temperaturas) {
			const soma = temperaturas.reduce((acc, curr) => acc + curr, 0);
			return soma / temperaturas.length;
		}

		// Função para desenhar o gráfico de temperatura
		function drawTemperatureGraph(timestamps, temperatures) {
			var trace = {
				x: timestamps,
				y: temperatures,
				type: 'scatter',
				mode: 'lines+markers',
				name: 'Temperature',
				line: { color: 'orange' }
			};

			var trace2 = {
				x: timestamps,
				y: new Array(timestamps.length).fill(@Model.SetPoint), // Cria um array com todos os valores de Y iguais a 50
				type: 'scatter',
				mode: 'lines',
				name: 'Set Point',
				line: { color: 'red', dash: 'solid' } // Define a linha como vermelha e sólida
			};

			var div = document.getElementById('temperature-graph');
			var divDimensions = div.getBoundingClientRect();

			var layout = {
				title: 'Temperature Over Time',
				xaxis: { title: 'Timestamp' },
				yaxis: { title: 'Temperature (°C)' },
				width: divDimensions.width, // Usa a largura da div
				height: divDimensions.height, // Usa a altura da div
			};

			var data = [trace, trace2];

			// Desenha o gráfico
			Plotly.newPlot('temperature-graph', data, layout);
		}

		// Função para obter dados atualizados e redesenhar o gráfico
		function updateGraph() {
			fetch('/Temperature/GetTemperatureData')
				.then(response => response.json())
				.then(data => {
					console.log("Dados recebidos:", data); // Verifica o que está sendo retornado


					if (document.querySelector("#erro").textContent == "-- °C") {
						verificaErro(data.temperatures);
					}

					// Acumula novos dados
					temperaturaAcumulada = temperaturaAcumulada.concat(data.temperatures);
					timestampsAcumuladas = timestampsAcumuladas.concat(data.timestamps.map(ts => new Date(ts)));

					if (temperaturaAcumulada.length == 4) {
						maiorTemperatura = Math.max(...temperaturaAcumulada)
						menorTemperatura = Math.min(...temperaturaAcumulada)

						document.querySelector("#min_temperature").textContent = menorTemperatura
						document.querySelector("#max_temperature").textContent = maiorTemperatura
					}

					// Calcular a média das temperaturas acumuladas
					const mediaTemperatura = calcularMedia(temperaturaAcumulada);

					// Exibir a média na página
					document.querySelector("#avgTemperature").textContent = `${mediaTemperatura.toFixed(2)} °C`;


					// Redesenha o gráfico com os dados acumulados
					drawTemperatureGraph(timestampsAcumuladas, temperaturaAcumulada);
				})
				.catch(error => console.error("Erro ao obter dados:", error));
		}

		function updateLastTemperature() {
			var trigger = document.querySelector('[name="Trigger"]').value;
			fetch(`/Temperature/ColetaUltimaTemperatura?trigger=${trigger}`).then(response => response.json())
				.then(data => {
					console.log("Dados recebidos:", data); // Verifica o que está sendo retornado

					const ultimaTemperatura = data.lasttemperature;

					defineTemperaturasPico(ultimaTemperatura);

					temperaturaRecente = ultimaTemperatura;

					document.querySelector("#lastTemperature").textContent = `${ultimaTemperatura.toFixed(2)} °C`;
				})
				.catch(error => console.error("Erro ao obter dados:", error));
		}

		function startMeasurement() {
			// Verifica o estado do botão de início
			const startButtonText = document.querySelector("#startMeasurementButton").textContent;
			if (startButtonText !== "Parar") {
				return; // Se o texto do botão não for "Parar", o script não faz nada
			}

			// Atualiza o gráfico imediatamente
			updateLastTemperature();
			updateGraph();

			// Configura um intervalo para atualizar o gráfico a cada 60 segundos
			setInterval(() => {
				if (document.querySelector("#startMeasurementButton").textContent !== "Parar") {
					return; // Para as atualizações se o botão não for "Parar"
				}

				// Atualiza o gráfico
				updateGraph();
			}, 60000); // Intervalo de 1 minuto

			// Configura outro intervalo para executar `updateLastTemperature` a cada 15 segundos
			setInterval(() => {
				if (document.querySelector("#startMeasurementButton").textContent !== "Parar") {
					return; // Para as atualizações se o botão não for "Parar"
				}

				// Atualiza a última temperatura
				updateLastTemperature();
			}, 15000); // Intervalo de 15 segundos
		}

		function defineTemperaturasPico(valor) {
			if (valor > maiorTemperatura) {
				maiorTemperatura=valor
			}

			if (valor < menorTemperatura) {
				menorTemperatura = valor
			}

			document.querySelector("#min_temperature").textContent = `${menorTemperatura.toFixed(2)} °C` 
			document.querySelector("#max_temperature").textContent = `${maiorTemperatura.toFixed(2)} °C`
		}
			// Inicia a medição
		startMeasurement();

		function verificaErro(temperaturas) {
			// Inicializa o array temperaturasTeste se necessário
			let temperaturasTeste = [];

			// Adiciona as novas temperaturas ao array de teste
			temperaturasTeste = temperaturasTeste.concat(temperaturas);

			// Quando o array de teste atingir o tamanho esperado (4, neste caso)
			if (temperaturasTeste.length == 4) {
				let temperaturasString = '';

				temperaturasTeste.forEach((temp, index) => {
					if (index !== 0) {
						temperaturasString += ','; // Adiciona vírgula antes de cada número, exceto o primeiro
					}
					temperaturasString += temp; // Adiciona o número à string
				});

				console.log('Valores de temperatura');
				console.log(temperaturasString);

				fetch(`/Temperature/VerificarEstabilizacao?temperaturasArray=${temperaturasString}`)
					.then(response => response.json())
					.then(data => {
						console.log("Dados recebidos:", data);

						// Supondo que o setPoint seja uma variável definida em algum lugar
						let tempErro = setPoint - temperaturaRecente;
						document.querySelector("#erro").textContent = `${tempErro.toFixed(2)} °C`;
					})
					.catch(error => console.error("Erro ao obter dados:", error));

				// Limpar o array de temperaturas após o envio
				temperaturasTeste = [];
			}
		}
	</script>
</div>
